@import "@material/typography/mdc-typography";

:root {
  --app-x-padding: 1.5em;
}

body {
  padding: 1em var(--app-x-padding);
}

pre {
  white-space: pre-wrap;
  width: calc(100vw-var(--app-x-padding) * 3);
}
